body {

}

#penguins {

}

#penguins_images {
   margin-left: auto;
   font-size: 15px;
   padding: 15px;
   display: flex;
   flex-flow: column;
}

.species {
   padding-top: 60px;
   padding-bottom: 20px;
   display: flex;
   flex-flow: row;
   flex-direction: row;
}
