.info-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.grid-container {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 50px;
}

.grid-item {
   display: flex;
   flex-direction: column;
   width: 330px;
}

.grid-item i {
   margin-top: 10px;
}
